
<div class="container ">
  <div class="carousel">
    <div class="list">
      <div class="item">
        <img src="assets/photo/image/voiture.jpg">
        <div class="content">
          <div class="author">Cars</div>
          <div class="title">BMW</div>
          <div class="topic">Sport</div>
          <div class="des">
            <ul>
              <li>Type de boîte de vitesse : Automatique</li>
              <li> Année :2020</li>
              <li>Puissance :120</li>
              <li> Prix :200$</li>
            </ul>
            <div class="buttons">
              <button (click)="redirectVersLogin()" class="btn btn-outline-primary p-3">Reserver</button>
            </div>
          </div>

        </div>
      </div>
      <div class="item">
        <img src="assets/pexels-lynxexotics-3752194.jpg">
        <div class="content">
          <div class="author">Cars</div>
          <div class="title">BMW</div>
          <div class="topic">Sport</div>
          <div class="des">
            <ul>
              <li>Type de boîte de vitesse : Automatique</li>
              <li> Année :2020</li>
              <li>Puissance :120</li>
              <li> Prix :200$</li>
            </ul>
            <div class="buttons">
              <button (click)="redirectVersLogin()" class="btn btn-outline-primary p-3">Reserver</button>
            </div>
          </div>

        </div>
      </div>
      <div class="item">
        <img src="assets/pexels-mayday-1545743.jpg">
        <div class="content">
          <div class="author">Cars</div>
          <div class="title">BMW</div>
          <div class="topic">Sport</div>
          <div class="des">
            <ul>
              <li>Type de boîte de vitesse : Automatique</li>
              <li> Année :2020</li>
              <li>Puissance :120</li>
              <li> Prix :200$</li>
            </ul>
            <div class="buttons">
              <button (click)="redirectVersLogin()" class="btn btn-outline-primary p-3">Reserver</button>
            </div>
          </div>

        </div>
      </div>
      <div class="item">
        <img src="assets/pexels-prime-cinematics-1005175-2036544.jpg">
        <div class="content">
          <div class="author">Cars</div>
          <div class="title">BMW</div>
          <div class="topic">Sport</div>
          <div class="des">
            <ul>
              <li>Type de boîte de vitesse : Automatique</li>
              <li> Année :2020</li>
              <li>Puissance :120</li>
              <li> Prix :200$</li>
            </ul>
            <div class="buttons">
              <button (click)="redirectVersLogin()" class="btn btn-outline-primary p-3">Reserver</button>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- list thumnail//////////////////////////////////////////////////////////////////////// -->
    <div class="thumbnail">
      <div class="item">
        <img src="assets/photo/image/voiture.jpg">
        <div class="content">
          <div class="title">
            BMW
          </div>
          <div class="description">
            Sport
          </div>
        </div>
      </div>
      <div class="item">
        <img src="assets/pexels-lynxexotics-3752194.jpg">
        <div class="content">
          <div class="title">
            BMW
          </div>
          <div class="description">
            sport
          </div>
        </div>
      </div>
      <div class="item">
        <img src="assets/pexels-mayday-1545743.jpg">
        <div class="content">
          <div class="title">
            BMW
          </div>
          <div class="description">
            Description
          </div>
        </div>
      </div>
      <div class="item">
        <img src="assets/pexels-prime-cinematics-1005175-2036544.jpg">
        <div class="content">
          <div class="title">
            BMW
          </div>
          <div class="description">
            Description
          </div>
        </div>
      </div>

      <!-- next prev -->

      <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
      </div>
    </div>
  </div>

</div>
