
<div class="container">
  <div class="slider-wrapper">
    <button id="prev-slide" class="slide-button material-symbols-rounded">
      chevron_left
    </button>
    <ul class="image-list">

      <div class="card mx-4 ">
        <img class="image-item image"  src="assets/photo/image/voiture.jpg" alt="img-1" />
        <div class="info">
          <h1>BMW</h1>
          <p>categorie sport modele 2022 automatique </p>
          <a href="#" class="btn">Reserver</a>
        </div>
      </div>
      <div class="card mx-4">
        <img class="image-item image"  src="assets/pexels-lynxexotics-3752194.jpg" alt="img-2" />
        <div class="info">
          <h1>BMW</h1>
          <p>categorie sport modele 2022 automatique </p>
          <a href="#" class="btn">Reserver</a>
        </div>
      </div>
      <div class="card mx-4">
        <img class="image-item image"  src="assets/pexels-mayday-1545743.jpg" alt="img-3" />
        <div class="info">
          <h1>BMW</h1>
          <p>categorie sport modele 2022 automatique </p>
          <a href="#" class="btn">Reserver</a>
        </div>
      </div>

      <div class="card mx-4">
        <img class="image-item image" src="assets/pexels-mayday-1545743.jpg" alt="img-3" />
        <div class="info">
          <h1>BMW</h1>
          <p>categorie sport modele 2022 automatique </p>
          <a href="#" class="btn">Reserver</a>
        </div>
      </div>

      <div class="card mx-4">
        <img class="image-item image" src="assets/pexels-mayday-1545743.jpg" alt="img-3" />
        <div class="info">
          <h1>BMW</h1>
          <p>categorie sport modele 2022 automatique </p>
          <a href="#" class="btn">Reserver</a>
        </div>
      </div>

      <div class="card mx-4">
        <img class="image-item image" src="assets/pexels-mayday-1545743.jpg" alt="img-3" />
        <div class="info">
          <h1>BMW</h1>
          <p>categorie sport modele 2022 automatique </p>
          <a href="#" class="btn">Reserver</a>
        </div>
      </div>

    </ul>
  </div>

</div>


